@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans bg-gray-900
}

::selection {
  @apply bg-pink-500 text-white
}

::-webkit-scrollbar {
  @apply w-1 h-1
}

::-webkit-scrollbar-thumb {
  @apply bg-pink-500
}

.swiper-pagination-bullet-active {
  background-color: red;
}

.swiper-pagination-bullet {
  background: rgb(22, 15, 15);
  width: 0.6rem;
  height: 0.6rem;
}